@import 'src/variables.scss';

$regular-textPlace-color: $secondary-font-color;
$lineThrough-textPlace-color: $inactive-color;

.textPlace {
  font-size: $font-size;
  color: $regular-textPlace-color;
  border: none;
  font-family: $main-font;
  cursor: default;
  min-width: none;
}

.textPlaceLineThrough {
  text-decoration: line-through;
  color: lighten($lineThrough-textPlace-color, 10%);

  @extend .textPlace;
}

