@import 'src/variables.scss';

.button {
  color: $secondary-font-color;
  cursor: pointer;
  font-family: $main-font;
  display: inline-block;
  font-size: $font-size !important;
  border: none;
  background-color: transparent;
  outline-color: $primary-color;

  &:hover {
    color: rgb(80 80 80);
  }
}

