$background-color: rgb(233 233 233);
$primary-color: #1064ae;
$primary-font-color: rgb(80 80 80);
$secondary-font-color: rgb(158 156 156);
$inactive-color: rgb(205 205 205);
$container-color: white;
$todo-title-color: white;

$main-font: 'comic sans ms';
$font-size: 1.5rem;

$todo-item-height: 2rem;
$todo-list-top: 3rem;
$todo-list-max-width: 30rem;
$todo-list-min-width: 20rem;
$todo-list-height: 100vh;
$item-border-color: $inactive-color;

$scrolableSection-max-height: calc(100vh - $todo-item-height * 11);
$noteEditor-height: 3rem;
$todoTtitle-height: 3rem;
$todoTtitle-font-size: 2.5rem;
$todoItemsListMenu-height: 3rem;

$todoListFooter-font-size: 0.7rem;
$todoItemsListMenu-font-size: 0.7rem;

